@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap')
$very-darkblue:hsl(240, 100%, 5%)
$off-white:hsl(36, 100%, 99%)  
$Dark-gray-ishblue: hsl(236, 13%, 42%)  
$grayshi-blue: hsl(233, 8%, 79%)  
$Soft-orange: hsl(35, 77%, 62%)
$Soft-red: hsl(5, 85%, 63%)
$size-font:15px   
$yel:#ffff00    

%paragraph-style-global
    font-size: $size-font
    color: $Dark-gray-ishblue 
    font-weight: 400 


body
    font-family: 'Inter', sans-serif
    display: grid
    grid-template-rows: repeat(100px 50px 100px 20px)
    margin: 100px
    background-color: $grayshi-blue

.conteiner-app
    background-color: $off-white
    display: flex
    flex-direction: column
    padding: 100px


//style to header menu    
.header-top
    display: grid
    grid-template-columns: repeat(2,1fr)
    padding: 10px
    .header-lista-item 
        display: flex
        justify-content: flex-end
        font-size: $size-font

        li
            list-style: none   
            padding: 0 5px 0 5px
            color: $Dark-gray-ishblue
//style to cnt central
.conteiner-content
    display: grid
    grid-template-columns:  repeat(2,1fr) 
    justify-content: center
    align-items: center
    .encapsula-content
        display: grid
        grid-template-rows: repeat(2,1fr)
    img
        max-width: 100%
        min-width: 451px

    .content-text
        display: flex
        a
            text-decoration: none
            border: 1px solid $Soft-red
            padding: 10px
            color: $off-white
            background-color: $Soft-red
            position: relative
            top: 25px
            font-weight: 400

        h1
            flex:1
            font-size: 250%
            font-weight: 800
        p
            @extend %paragraph-style-global
            flex: 1
//style to content right
.conteiner-content-right
    display: flex
    flex-direction: column
    justify-content: flex-end
    margin-left: 50px
    border: 1px solid $very-darkblue
    background-color: $very-darkblue
    min-width: 350px
    padding: 5px
    max-width: 400px
    margin-top: 23px
    h1
        color: $Soft-orange
        margin: 15px
    p
        @extend %paragraph-style-global
    h2
        text-align: center
        color: $off-white
        font-size:20px